@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
        
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    list-style: none;
}

body {
    min-height: 100vh;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-color: #4747b5;
    background-size: contain;
    background-position: center;
    }

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar{
    width: 100%;
    padding: 21px 1000px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: white;
    font-weight: 500;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: #9595ef;
}

.sidebar header{
    font-size:26px; 
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.sidebar ul li{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    margin-left: 40px;
    box-sizing: border-box;
}